.footerContainer{
    display: flex;
    flex-direction: row;
    background-color:#140b34;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top:5em;
    padding:0;
}

.footerContainer a{
    padding:1em;
    margin: 1em;
}
.footerSocialMedia,.footerOtherContact{
    display: flex;
    flex-direction: row;
    margin-left:1em;
    margin-right:1em;
    width:50%;
}
.footerOtherContact p{
    color:#48D1CC;
    font-size:1em;
    margin:1em;
}
.row{
    width:100%;
}