@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

.App {
  text-align: center;
  font-family: 'Sansita Swashed';
  ;  /* background:#140b34; */
}

a{
  color:#48D1CC
}
h2{
  font-size:3em;
  color:#140b34;
  margin:2em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}